<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>idp_jee_fg</display-name>
  <welcome-file-list>
    <welcome-file>accueil.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletAccueil</servlet-name>
    <servlet-class>afpa.fr.servlet.ServletAccueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAccueil</servlet-name>
    <url-pattern>/ServletAccueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletFormulaire</servlet-name>
    <servlet-class>afpa.fr.servlet.ServletFormulaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormulaire</servlet-name>
    <url-pattern>/ServletFormulaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>afpa.fr.servlet.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>afpa.fr.servlet.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/Servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlet3</servlet-name>
    <servlet-class>afpa.fr.servlet.Servlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet3</servlet-name>
    <url-pattern>/Servlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlet4</servlet-name>
    <servlet-class>afpa.fr.servlet.Servlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet4</servlet-name>
    <url-pattern>/Servlet4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlet5</servlet-name>
    <servlet-class>afpa.fr.servlet.Servlet5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet5</servlet-name>
    <url-pattern>/Servlet5</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlet6</servlet-name>
    <servlet-class>afpa.fr.servlet.Servlet6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet6</servlet-name>
    <url-pattern>/Servlet6</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ServletCommentaire</servlet-name>
    <servlet-class>afpa.fr.servlet.ServletCommentaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCommentaire</servlet-name>
    <url-pattern>/ServletCommentaire</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ServletMail</servlet-name>
    <servlet-class>afpa.fr.servlet.ServletMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMail</servlet-name>
    <url-pattern>/ServletMail</url-pattern>
  </servlet-mapping>
</web-app>